In [10]:
import sys

In [1]:
import pandas as pd

In [15]:
data = {
    'name': ['Pessoa_1lksaçdfjlkadskl kvaçlksfdajçasdkjfçsad ', 'Pessoa_2', 'Pessoa_3'],
    'age': [33, 45, 12],
    'is_old': [True, True, False]
}

In [16]:
df = pd.DataFrame(data)

In [17]:
df

                                              name  age  is_old
0  Pessoa_1lksaçdfjlkadskl kvaçlksfdajçasdkjfçsad    33    True
1                                         Pessoa_2   45    True
2                                         Pessoa_3   12   False

In [18]:
df.dtypes

name      object
age        int64
is_old      bool
dtype: object

In [20]:
x = 98
type(x) # int
sys.getsizeof(x) # 14
sys.getsizeof(int()) # 12

12

In [21]:
df.memory_usage()
# um int64 tem 8 bytes

Index     64
name      12
age       24
is_old     3
dtype: int64

In [13]:
sys.getsizeof(df)

218

In [ ]:
sys(i)

In [24]:
sys.getsizeof('b')

30